body {
    font-family: sans-serif;
  }

  .loader {
    margin: 0 auto;
    margin-top: 15px;
    display: block;
  }

  loader.hidden {
    display: none;
  }

  .breed-select {
    width: 180px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    padding:15px;
    margin-top: 20px;
  }
  
  .breed-select.hidden {
    display: none;
  }

  .cat-info {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    width: 100%
  }
  
  .cat-img {
    width: 400px;
    box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.3);
  }
  
  .is-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
